---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/planetary/apod?api_key=<NASA_API_KEY>&date=2019-04-16&hd=bool
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '146'
    body:
      encoding: ASCII-8BIT
      string: '{"copyright":"Utkarsh Mishra","date":"2019-04-16","explanation":"Strange
        shapes and textures can be found in neighborhood of the Cone Nebula. The unusual
        shapes originate from fine interstellar dust reacting in complex ways with
        the energetic light and hot gas being expelled by the young stars.  The brightest
        star on the right of the featured picture is S Mon, while the region just
        below it has been nicknamed the Fox Fur Nebula for its color and structure.
        The blue glow directly surrounding S Mon results from reflection, where neighboring
        dust reflects light from the bright star. The red glow that encompasses the
        whole region results not only from dust reflection but also emission from
        hydrogen gas ionized by starlight. S Mon is part of a young open cluster of
        stars named NGC 2264, located about 2500 light years away toward the constellation
        of the Unicorn (Monoceros).   Even though it points right at S Mon, details
        of the origin of the mysterious geometric Cone Nebula, visible on the far
        left, remain a mystery.","hdurl":"https://apod.nasa.gov/apod/image/1904/ConeFoxfur_Mishra_1687.jpg","media_type":"image","service_version":"v1","title":"In
        the Vicinity of the Cone Nebula","url":"https://apod.nasa.gov/apod/image/1904/ConeFoxfur_Mishra_960.jpg"}

'
  recorded_at: Wed, 17 Apr 2019 03:20:37 GMT
recorded_with: VCR 4.0.0
