---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/DONKI/notifications?api_key=<NASA_API_KEY>&endDate=2019-04-14&startDate=2019-03-14&type=report
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '[{"messageType":"Report","messageID":"20190410-7D-001","messageURL":"https://kauai.ccmc.gsfc.nasa.gov/DONKI/view/Alert/14619/1","messageIssueTime":"2019-04-10T21:11Z","messageBody":"##
        NASA Goddard Space Flight Center, Space Weather Research Center ( SWRC )\n##
        Message Type: Weekly Space Weather Summary Report for April 03, 2019 - April
        09, 2019\n##\n## Message Issue Date: 2019-04-10T21:11:23Z\n## Report Coverage
        Begin Date: 2019-04-03T00:00Z\n## Report Coverage End Date: 2019-04-09T23:59Z\n##
        Message ID: 20190410-7D-001\n##\n## Disclaimer: NOAA''s Space Weather Prediction
        Center (http://swpc.noaa.gov) is the United States Government official source
        for space weather forecasts. This \"Experimental Research Information\" consists
        of preliminary NASA research products and should be interpreted and used accordingly.\n\n\n##
        Summary:\n\nSolar activity was at low levels during this reporting period.
        There was 1 C-type CME (see details below). Based on preliminary heliospheric
        modeling carried out at NASA Community Coordinated Modeling Center, it was
        estimated that this CME (starting at 2019-04-03T04:09Z) may impact Spitzer
        at around 2019-04-05T22:20Z (plus minus 7 hours) and may have a flank impact
        at STEREO A at around 2019-04-06T00:00Z (plus minus 7 hours) (see notification
        2[...]
