---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?api_key=<NASA_API_KEY>&sol=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      Etag:
      - W/"e6dea68428a44bb91aaac4309cd261b6"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":[{"id":4477,"sol":1,"camera":{"id":22,"name":"MAST","rover_id":5,"full_name":"Mast
        Camera"},"img_src":"http://mars.jpl.nasa.gov/msl-raw-images/msss/00001/mcam/0001ML0000001000I1_DXXX.jpg","earth_date":"2012-08-07","rover":{"id":5,"name":"Curiosity","landing_date":"2012-08-06","launch_date":"2011-11-26","status":"active","max_sol":2377,"max_date":"2019-04-14","total_photos":350219,"cameras":[{"name":"FHAZ","full_name":"Front
        Hazard Avoidance Camera"},{"name":"NAVCAM","full_name":"Navigation Camera"},{"name":"MAST","full_name":"Mast
        Camera"},{"name":"CHEMCAM","full_name":"Chemistry and Camera Complex"},{"name":"MAHLI","full_name":"Mars
        Hand Lens Imager"},{"name":"MARDI","full_name":"Mars Descent Imager"},{"name":"RHAZ","full_name":"Rear
        Hazard Avoidance Camera"}]}},{"id":509233,"sol":1,"camera":{"id":22,"name":"MAST","rover_id":5,"full_name":"Mast
   [...]
